<div class="container mb-3 pt-5">
  <hr class="w-75 mx-auto">
  <hr class="w-50 mx-auto">
  <hr class="w-25 mx-auto">

  <input type="text"  id="menu" class="form-control form-control-lg w-75 mx-auto" placeholder="Saisissez le menu que vous souhaitez rechercher (le menu, les ingrédients, le type de cuisine)." aria-label=".form-control-lg example" >

</div>

<div class="album py-5 pe-5 w-75 mx-auto rounded" >
<div class="container" >
<ul class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5" >
   <li class="col-sm" *ngFor="let menu of menu" >
      <div class="col-sm rounded" id="shadowAlbum">
        <div class="card shadow-sm">
          <img class="img-thumbnail" src="{{menu.image! ? menu.image : defaultImage}}">
            <div class="card-body">
              <p class="card-text">{{menu.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                          type="button"
                          class="btn btn-sm btn-outline-dark"
                          (click)="onItemDetail(menu.id)"
                          >Détails
                  </button>
                  <button type="button"
                          class="btn btn-sm btn-outline-success"
                          id="add" data-bs-toggle="offcanvas"
                          data-bs-target="#offcanvasRight"
                          aria-controls="offcanvasRight"
                          (click)="addMenu(menu.id)"

                          >Add to Menu
                  </button>
                </div>
                <small class="text-muted">{{menu.readyInMinutes}}</small>
                <small class="text-muted">{{menu.pricePerServing}}</small>
                <small class="text-muted">{{menu.healthScore}}</small>
              </div>
            </div>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>
