<div id="shadow-box">
<div class="container rounded pb-5" id="background">
  <div class="px-4 pt-5 my-5 text-center " >
    <h1 class="display-4 fw-bold bg-light rounded w-50">A LA CARTA</h1>
    <div class="col-lg-6 mx-auto pt-3">
      <p class="lead mb-4 bg-light rounded px-2 mt-2">
        Nous proposons des plats de grande qualité qui satisfont nos clients
        Depuis plus de 40 ans, nous proposons un menu varié qui répond aux goûts des différents consommateurs.
        consommateurs.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      </div>
    </div>
  </div>

</div>
</div>

<div class="pt-5">
<ng-template [ngIf]="showTemplate">
  <app-search></app-search>
  <app-resume-cart></app-resume-cart>
</ng-template>
</div>

<hr class="w-75 mx-auto mt-5">

