<div class="container shadow-sm" >
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 ">
    <p class="col-md-4 mb-0 text-muted">&copy; 2023 Paul Toussaint</p>

    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
      <img src="../../../assets/logo.png" alt="logo du restaurant" width="100">
    </a>

    <ul class="navbar-nav d-flex flex-row col-md-4 justify-content-end">
      <li class=" nav-item active">
        <a class="nav-link" id="link-animado" href="https://www.linkedin.com/in/paul-toussaint-2082b2232/"><img
            src="../../../assets/linkedin.png" width="25"></a>
      </li>
      <li class="nav-item active ms-2">
        <a class="nav-link active" id="link-animado" href="https://www.instagram.com/darkpaul12/"><img
            src="../../../assets/instagram.png" width="25"></a>
      </li>
      <li class="nav-item active ms-2">
        <a class="nav-link active" id="link-animado" href="https://github.com/paul-toussaint"><img
            src="../../../assets/github.png" width="25"></a>
      </li>
      <li class="nav-item active ms-2">
        <a class="nav-link active" id="link-animado" href="https://www.facebook.com/Darkpaulssgss5?locale=fr_FR"><img
            src="../../../assets/facebook.png" width="25"></a>
      </li>
    </ul>
  </footer>
</div>
